*.iml
.gradle/
/build/
/app/build/
/captures/
.externalNativeBuild/
.cxx/
.idea/
*.swp
*~
local.properties
app/google-services.json
*.keystore
*.jks
*.log
hs_err_pid*
app/release/
.DS_Store
Thumbs.db
.kotlin/
.python_user/
tmp/
build/
